/* inspection.component.css */
.image-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove padding to make the image larger */
  }
  
  .details-col {
    padding: 15px;
  }
  
  /* Adjust the max-height and max-width as needed */
  .card img {
    max-height: 100%;
    max-width: 100%;
  }
  